<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR INICIO -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item href="...">Inicio</a>
      <a mat-list-item href="...">Cursos</a>
      <a mat-list-item href="...">Alumnos</a>
      <a mat-list-item href="...">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR FIN -->

   <!-- MAIN CONTENT INICIO-->

   <div class="example-sidenav-content">


    <!-- TOOLBAR INICIO -->

    <mat-toolbar color="primary">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mi aplicación</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>Favoritos</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>Ingreso</mat-icon>
        </button>
      </mat-toolbar>
      <!-- TOOLBAR FIN -->

      <main class="p-5">
        <app-courses />
      </main>
   </div>

   <!-- MAIN CONTENT FIN-->
</mat-drawer-container>

